{% extends 'base.html.twig' %}

{% block title %}Portfolio Mathéo Zeller{% endblock %}

{% block body %}
    <main class="min-h-screen flex flex-col items-center justify-center">
        <p class="text-gray-400">Salut à toi ! Je suis</p>
        <h1>Mathéo Zeller</h1>
        <p>Développeur et artiste curieux</p>
    </main>
{% endblock %}
