<nav class="flex space-x-4 px-6 py-4 bg-darkgray-900 rounded-lg text-3xl fixed left-1/2 -translate-x-1/2 bottom-4 z-30">
    <a href="#home" class="flex items-center smooth active">
        <i class="ph-bold ph-house"></i>
    </a>
    <a href="#me" class="flex items-center smooth">
        <i class="ph-bold ph-user"></i>
    </a>
    <a href="#competences" class="flex items-center smooth">
        <i class="ph-bold ph-toolbox"></i>
    </a>
    <a href="#games" class="flex items-center smooth">
        <i class="ph-bold ph-game-controller"></i>
    </a>
    <a href="#hobbies" class="flex items-center smooth">
        <i class="ph-bold ph-game-controller"></i>
    </a>
</nav>

<span class="fixed hidden md:block bottom-20 left-1/2 -translate-x-1/2 text-darkgray-300">Utilise ce menu pour naviguer !</span>
