<nav class="flex space-x-4 px-4 py-2 bg-gray-100 rounded-lg text-3xl fixed left-1/2 -translate-x-1/2 bottom-4">
    <a href="#" class="flex items-center">
        <i class="ph-bold ph-house"></i>
    </a>
    <a href="#" class="flex items-center">
        <i class="ph-bold ph-game-controller"></i>
    </a>
    <a href="#" class="flex items-center">
        <i class="ph-bold ph-user"></i>
    </a>
    <a href="#" class="flex items-center">
        <i class="ph-bold ph-game-controller"></i>
    </a>
    <a href="#" class="flex items-center">
        <i class="ph-bold ph-game-controller"></i>
    </a>
</nav>