<div class="popup" data-content="celeste">
    <button class="close-popup">Fermer</button>
    <h2 class="popup-content">Celeste</h2>
    <p class="text-center">Embarquez dans l'ascension épique de la montagne Celeste ! À travers des plateformes précises et un récit émotionnellement chargé, Celeste défie autant vos réflexes que votre résilience. Un chef-d'œuvre de jeu de plateforme qui parle de surmonter ses propres démons internes.</p>
    <img class="mx-auto rounded-lg" src="{{ asset('images/celeste/gameplay.gif') }}" alt="Gif du gameplay de Celeste">
</div>