<div class="popup" data-content="dofus">
    <button class="close-popup">Fermer</button>
    <h2 class="popup-content">Dofus</h2>
    <p class="text-center">Plongez dans le monde fantastique d'Amakna, où la stratégie rencontre la magie et où les quêtes épiques vous attendent à chaque coin. Dofus est un jeu de rôle massivement multijoueur qui mélange combats tactiques au tour par tour et exploration riche dans un univers graphique coloré et enchanteur. Assemblez votre équipe, forgez votre destin et découvrez les secrets des Dofus légendaires.</p>
    <img class="mx-auto rounded-lg" src="{{ asset('images/dofus/gameplay.gif') }}" alt="Gif du gameplay de Dofus">
</div>