<div class="popup" data-content="enterthegungeon">
    <button class="close-popup">Fermer</button>
    <h2 class="popup-content">Enter the Gungeon</h2>
    <p class="text-center">Descendez dans le Gungeon, un labyrinthe en constante évolution, où chaque chambre est un défi rempli de balles, de monstres et d'armes improbables. Dans ce roguelike intense, chaque partie est unique, chaque adversaire est une énigme et chaque balle compte. Préparez-vous à esquiver, tirer et chercher la rédemption dans ce tourbillon d'action et de chaos.</p>
    <img class="mx-auto rounded-lg" src="{{ asset('images/enter/gameplay.gif') }}" alt="Gif du gameplay de Enter the Gungeon">
</div>