<div class="popup" data-content="patrick">
    <button class="close-popup">Fermer</button>
    <h2 class="popup-content">Patrick's Parabox</h2>
    <p class="text-center">Plongez dans l'univers envoûtant de Patrick's Parabox, où les énigmes ne sont pas seulement à résoudre, mais deviennent une partie intégrante du monde lui-même. Manipulez des niveaux imbriqués comme jamais auparavant et défiez votre perception à chaque tournant. Un voyage cérébral innovant qui redéfinit les règles du jeu de réflexion !</p>
    <img class="mx-auto rounded-lg" src="{{ asset('images/patrick/gameplay.gif') }}" alt="Gif du gameplay de Patrick's Parabox">
</div>