<section id="home" class="min-h-screen flex flex-col items-center justify-center text-center">
    <p class="text-gray-600">Salut à toi ! Je suis</p>
    <h1>Mathéo Zeller</h1>
    <p>Développeur et artiste curieux</p>
    <img class="w-32 h-32" src="{{ asset("images/LeZellus.gif") }}" alt="Gif de Mathéo devant un PC">
</section>