<section id="me" class="min-h-screen auto-rows-min text-center">
    <h2>Qui suis-je ?</h2>
    <p>Bonjour ! Je m'appelle <strong>Mathéo</strong>. À 28 ans, je vis dans la magnifique région de Toulouse, en France.</p>
    <p>Diplômé en <strong>développement web</strong>, je suis un fervent adepte du monde de la <strong>technologie</strong>. Que ce soit la conception de sites web, l'aspect hardware ou le design, ma soif de <strong>créativité</strong> ne connaît aucune limite. Je suis toujours à l'affût des <strong>dernières tendances technologiques</strong>.</p>
    <p>Amoureux du <strong>Pixel Art</strong> et des <strong>jeux vidéo</strong>, je ne cesse d'<strong>explorer</strong> et d'<strong>apprendre</strong> pour <strong>peaufiner</strong> mes compétences, afin de livrer un travail <strong>impeccable</strong>.</p>
    <p>Doté d'une irrassasiable <strong>curiosité</strong>, je m'ouvre à divers horizons, <strong>enrichissant</strong> ainsi mon panel de <strong>compétences</strong> au quotidien.</p>

    <p><strong>Le design, l'UI et l'UX</strong> occupent une place particulière dans mon cœur. Lorsque je ne suis pas devant mon écran, vous pouvez me trouver en train de <strong>dessiner</strong>, de <strong>m'adonner au pixel art</strong> ou de <strong>concocter des jeux vidéo</strong>.</p>
    <p>J'ai conçu ce site afin de vous offrir un aperçu de mes <strong>talents</strong>, mais aussi pour partager avec vous mes <strong>passions</strong> et mes <strong>créations</strong> au fil des années.</p>
    <p>Je vous souhaite une <strong>excellente visite</strong> !</p>
</section>

